.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navbar*/

nav {
  color: white;
background-color: #A4161A;
  padding: 10px 40px 10px 70px;
  border-left: none;
  border-right: none;
}

nav ul {
  
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.logo {
  flex: 1;
  font-size: 30px;
  font-weight: 400;
}

.items {
  padding: 0 25px;
  display: inline-flex ;
  
  font-size: 18px;
}
a {
  color: white;
  padding: 0 12px;
  text-decoration: none;
}

a:hover {
  color: rgb(202, 195, 202);
}

.serch {
  height: 30px;
  width: 300px;
  display: flex;
  border-radius: 5px;
  
}

input {
  color: black;
  border-radius: 5px;
}

.news {
  background-color: rgb(204, 81, 81);
  
}

.news li {
  color: white;
  display: inline-block;
  padding-left: 310px;
  padding-right: 0;
}

input {
width: 300px;
}


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open sans, sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;
}