*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* nav style */

nav {
    color: white;
background-color: #A4161A;
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;
}

nav ul {
    
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.logo {
    flex: 1;
    font-size: 30px;
    font-weight: 400;
}

.items {
    padding: 0 25px;
    display: inline-flex ;
    
    font-size: 18px;
}
a {
    color: white;
    padding: 0 12px;
    text-decoration: none;
}

a:hover {
    color: rgb(202, 195, 202);
}

.serch {
    height: 30px;
    width: 300px;
    display: flex;
    border-radius: 5px;
    
}

input {
    color: black;
    border-radius: 5px;
}

.news {
    background-color: rgb(204, 81, 81);
    
}

.news li {
    color: white;
    display: inline-block;
    padding-left: 310px;
    padding-right: 0;
}

input {
 width: 300px;
}

/* Carousel Style */



.carousel {
    overflow: hidden;
    max-width: 100%;
    position: relative;
  }
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  
  .carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-2200%);
    
  }
  
.carousel__actions button {
    border-radius: 150px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
   position: static;
  }
  


  .carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
  }
  
  .carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
  }
  
/* Animacion del carousel */

  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }

    50% {
        opacity: 0.5;    
    }
    100% {
      opacity: 1;
    }
  }


/* Body */


h3 {
    color: #A4161A;
    margin-bottom: 15px;
    line-height: 48px;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 250px;
    background-color: rgba(199,200,202,1);
}


.displayProductos{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding-right: 0;
    padding-left: 200px;
    padding-top: 40px;
  text-align: center;

    }


    .displayProductos img {
        width: 400px;
        height: 300px;
    }

/* Footer */

footer {
  display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:50px ;
    width: 100% ;
    background: black;
    color: white;

}

footer li {
  display: inline-block;
  text-decoration: none;
  padding-left: 300px;
}

/* Cambios en las grillas en relacion al tamaño */

  @media (max-width: 1200px) {

  .videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .displayProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr;
  
  }
}


@media (max-width: 900px) {

  .videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .displayProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr;
  
  }
  
  }

/* Contact Form */

.contact-form {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 600px;

}

.form-container {
    position: relative;
    left: 20%;
    width: 60%;
    height: 100vh;

}
